* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    
}

/* @import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap'); */

body {
    width: 100vw;
    height: 100vh;
    background-image: url("bg2.svg");
    background-size: cover;
}

/* @media only screen and (max-width: 300px) {
    body {
        background-size: cover;
    }
  } */

nav {
    background-color: #c55a11;
    /* background-color: #c56d31ab; */
}

nav > .navbar-brand {
    font-family: 'Kristi', cursive;
    font-size: 2.5rem;
}

.row {
    margin-top: 5%;
}

.holder {
    display: flex;
    flex-direction: row;
}

.video {
    width: 720px;
    height: 480px;
    border-radius: 20%;
    /* background-color: white; */
    box-shadow: 10px 10px 10px 10px #a28f8fc4;
    /* margin-right: 10px; */
}

iframe {
    border: transparent;
    border-radius: 2%;
    box-shadow: 18px 20px 20px 3px #e6b9b9b5;
}

.two {
    /* grid-start: 3; */
  /*   border: 1px solid; */
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    width: 40%;
    height: auto;
  }
  
  .innertwo {
    /* border: 1px solid; */
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgb(112, 110, 110);
    height: 25px;
  }
  
  .innertwo:active {
    filter: blur(5px);
  }
  
  .innertwo:hover {
    box-shadow: 5px 2px 5px 5px rgb(112, 110, 110);
  }

.columns {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 5%;
}


.primary {
    /* border: 1px solid red; */
    width: 70%;
    margin-right: 2%;
}

.primary-inner {
    margin: 17px 50px;
}

.secondary {
    border: 1px solid blue;
    width: 20%;
}

/* @media only screen and (max-width: 300px) {

     body {
        background-size: cover;
    }

    .columns {
      flex-direction: column;
      margin-left: 18%;
    }

    .secondary {
    border: 1px solid blue;
    width: 70%;
    height: 250px;
    margin-top: 2%;
}

    .video {
    width: 590px;
    height: 360px;
    }
  } */


