* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("bg2.svg");
    background-size: cover;
}

nav {
    background-color: #c55a11;
}

.row {
    margin-top: 5%;
}

.holder {
    width: 640px;
    height: 360px;
    border-radius: 20%;
    background-color: white;
    box-shadow: 10px 10px 10px 10px grey;
}

.two {
    /* grid-start: 3; */
  /*   border: 1px solid; */
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    width: 40%;
    height: auto;
  }
  
  .innertwo {
    /* border: 1px solid; */
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgb(112, 110, 110);
    height: 25px;
  }
  
  .innertwo:active {
    filter: blur(5px);
  }
  
  .innertwo:hover {
    box-shadow: 5px 2px 5px 5px rgb(112, 110, 110);
  }